workflows/AIAgentFinal(1).json
{
  "name": "AIAgentFinal",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -784,
        256
      ],
      "id": "3e702c23-2808-4096-8bf3-e2fde1bda7e2",
      "name": "When chat message received",
      "webhookId": "cd6bb559-17f1-4d14-9848-8d9da690d0f7"
    },
    {
      "parameters": {
        "jsCode": "// Detect instrument model numbers in the user query\n// and append them so Pinecone semantic search boosts\n// chunks where those tokens appear in the text\n\nconst input = $input.first().json;\nconst query = input.chatInput || input.text || input.message || '';\n\nconst patterns = [\n  /\\b(1[0-9]{3}[A-Z]?)\\b/g,\n  /\\b(7[0-9]{3}[A-Z]?)\\b/g,\n  /\\b(6[0-9]{3}[A-Z]?)\\b/g,\n  /\\b(8[0-9]{3}[A-Z]?)\\b/g,\n  /\\b(ZORBAX[\\s\\-]?[\\w]*)\\b/gi,\n  /\\b(Poroshell[\\s\\-]?[\\w]*)\\b/gi,\n  /\\b(InfinityLab[\\s\\-]?[\\w]*)\\b/gi,\n  /\\b(Infinity\\s?II?)\\b/gi,\n  /\\b(MassHunter)\\b/gi,\n  /\\b(OpenLAB)\\b/gi,\n  /\\b(ChemStation)\\b/gi,\n  /\\b(TripleQuad[\\s\\-]?[\\w]*)\\b/gi,\n  /\\b(QTOF[\\s\\-]?[\\w]*)\\b/gi\n];\n\nconst found = new Set();\nfor (const p of patterns) {\n  for (const m of query.matchAll(p)) {\n    const val = m[1].trim().toUpperCase().replace(/\\s+/g, '_');\n    if (val.length >= 3) found.add(val);\n  }\n}\n\nconst detected = Array.from(found);\n\n// Append detected tokens to query so embedding search\n// naturally scores higher on chunks containing them\nconst enrichedQuery = detected.length > 0\n  ? query + ' ' + detected.join(' ')\n  : query;\n\n// Pass all original fields through unchanged, plus enriched query\nreturn [{\n  json: {\n    ...input,\n    chatInput: enrichedQuery,\n    detectedInstruments: detected\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        256
      ],
      "id": "47ed4722-6d89-4366-bd86-f5076c5b102a",
      "name": "Query Enricher"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful Agilent Technologies support assistant.\nAnswer questions about LC/HPLC, GC, and consumables using the knowledge base tools provided.\n\nRULES:\n1. ALWAYS call a search tool before answering. Never answer from memory alone.\n2. Route by topic:\n   - LC / HPLC / pump / autosampler / detector → use Pinecone Vector Store (lc)\n   - GC / gas chromatography / inlet / oven → use Pinecone Vector Store1 (gc)\n   - Columns / consumables / ZORBAX / Poroshell / supplies → use Pinecone Vector Store2 (consumables)\n   - Unsure → search all three\n3. If the user mentioned a specific model number (e.g. 1260, 7890B, ZORBAX), include it verbatim in your search query.\n4. Always end your answer with: Source: [title] — [source_url]\n5. If the answer is not in the knowledge base say: \"I could not find that in the Agilent knowledge base. Please visit https://community.agilent.com or contact Agilent support.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -352,
        256
      ],
      "id": "d432afdd-b4ed-49c3-ade8-e9386d3c964d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -496,
        464
      ],
      "id": "ec5363df-344d-48cc-8235-d4b639c2bd61",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "418azV3p8e3HXr1o",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "sessionId",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        464
      ],
      "id": "e280dbcc-0fa5-40bb-90ba-21a857411698",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Agilent LC/HPLC support knowledge base. Use for liquid chromatography, HPLC, pumps, autosamplers, detectors, LC troubleshooting. Models: 1100, 1120, 1200, 1220, 1260, 1290 series. Include model number verbatim in query if mentioned.",
        "pineconeIndex": {
          "__rl": true,
          "value": "agilent-support-agent",
          "mode": "list",
          "cachedResultName": "agilent-support-agent"
        },
        "options": {
          "pineconeNamespace": "lc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        48,
        336
      ],
      "id": "c5ddd695-8051-4fb5-a918-cc39fc386da7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kAQo3tXhLV9lPcOM",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        448
      ],
      "id": "80d72f7f-c6a3-46ac-9a9c-b5bd66c5c94d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "418azV3p8e3HXr1o",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Agilent GC support knowledge base. Use for gas chromatography, GC systems, inlets, detectors, columns, headspace, GC troubleshooting. Models: 7820A, 7890A, 7890B, 8860 series. Include model number verbatim in query if mentioned.",
        "pineconeIndex": {
          "__rl": true,
          "value": "agilent-support-agent",
          "mode": "list",
          "cachedResultName": "agilent-support-agent"
        },
        "options": {
          "pineconeNamespace": "gc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d0ec5e7a-ae21-44f8-8aad-0505212f7083",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "kAQo3tXhLV9lPcOM",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Agilent consumables knowledge base. Use for columns, supplies, standards, sample prep, vials, filters. Products: ZORBAX, Poroshell, InfinityLab, Eclipse, Bond Elut. Include product name verbatim in query if mentioned.",
        "pineconeIndex": {
          "__rl": true,
          "value": "agilent-support-agent",
          "mode": "list",
          "cachedResultName": "agilent-support-agent"
        },
        "options": {
          "pineconeNamespace": "consumables"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -64,
        640
      ],
      "id": "8a463266-0656-4f86-a8a4-fbfcd25fae96",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "kAQo3tXhLV9lPcOM",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        768
      ],
      "id": "9aaf89af-7b58-4888-afbd-d7d2a5ea6694",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "418azV3p8e3HXr1o",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        128
      ],
      "id": "d597f086-e695-439b-a536-41d09ca8240b",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "418azV3p8e3HXr1o",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Query Enricher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Enricher": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2ee1e7f5-93b9-47a4-8a43-e20bfcc09e88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01fcb9fb97b3ebf0dede6f97c5fc33f2cdd542e39d684f6789db85e728189967"
  },
  "id": "Cf3hwsKd9BfV3nwQ",
  "tags": []
}