workflows/Support Ingestion Final(1).json
{
  "name": "Agilent Support Ingestion Final",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        192
      ],
      "id": "dbed56eb-0f28-42e0-8a62-0e2f7982582e",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        192
      ],
      "id": "4d5b74a2-fa33-4685-bd5e-080062e0d1ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "page_title",
              "cssSelector": "h1"
            },
            {
              "key": "page_content",
              "cssSelector": ".content.full.without-author"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "cb516d11-0d71-420a-b7f6-b8e0c06d5cde",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const text       = $input.first().json.page_content || \"\";\nconst loopItem   = $('Loop Over URLs').first().json;\nconst url        = loopItem.url || \"\";\nconst namespace  = loopItem.namespace || \"\";\nconst instrument = loopItem.instrument || \"\";\nconst title      = $input.first().json.page_title || instrument;\n\nconst chunks     = [];\nconst CHUNK_SIZE = 600;\nconst OVERLAP    = 80;\n\nlet i = 0;\nlet chunkIndex = 0;\n\nwhile (i < text.length) {\n  const chunk = text.slice(i, i + CHUNK_SIZE).trim();\n  if (chunk.length >= 120) {\n    chunks.push({\n      json: {\n        chunk_text: chunk,\n        metadata: {\n          source_url:  url,\n          instrument:  instrument,\n          namespace:   namespace,\n          title:       title,\n          doc_type:    \"support_wiki\",\n          chunk_index: chunkIndex\n        }\n      }\n    });\n    chunkIndex++;\n  }\n  i += (CHUNK_SIZE - OVERLAP);\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        192
      ],
      "id": "fd3ff57c-74dc-45f3-95ad-efafd1e69f07",
      "name": "Chunk Text"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "agilent-support-agent",
          "mode": "list"
        },
        "options": {
          "pineconeNamespace": "={{ $json.metadata.namespace }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        672,
        272
      ],
      "id": "7395e1c7-501d-4089-8767-50ddd8bc812b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YNYqQyhpB6ATiUt6",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        496
      ],
      "id": "9393544a-2f37-4045-9e33-207fd7389455",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2yigTNurW3BezLQu",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_url",
                "value": "={{ $json.metadata.source_url }}"
              },
              {
                "name": "instrument",
                "value": "={{ $json.metadata.instrument }}"
              },
              {
                "name": "namespace",
                "value": "={{ $json.metadata.namespace }}"
              },
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              },
              {
                "name": "doc_type",
                "value": "={{ $json.metadata.doc_type }}"
              },
              {
                "name": "chunk_index",
                "value": "={{ $json.metadata.chunk_index }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        496
      ],
      "id": "2813f4af-8cc4-4042-892f-cffd00dc9d43",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return [\n  {\"json\": {\"url\": \"https://community.agilent.com/technical/lc/w/wiki/4916/collection-of-lc-hplc-resources\", \"namespace\": \"lc\", \"instrument\": \"HPLC/LC\"}},\n  {\"json\": {\"url\": \"https://community.agilent.com/technical/gc/w/wiki/4917/collection-of-agilent-gc-resources-home\", \"namespace\": \"gc\", \"instrument\": \"Gas Chromatography\"}},\n  {\"json\": {\"url\": \"https://community.agilent.com/technical/consumables/w/wiki/4953/agilent-collection-of-columns-supplies-and-standards-resources\", \"namespace\": \"consumables\", \"instrument\": \"Columns and Consumables\"}}\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        192
      ],
      "id": "75508647-dfaa-4333-99f1-fd955bea7835",
      "name": "Code in Python1"
    },
    {
      "parameters": {},
      "id": "eaebe460-1ab5-435a-b6ef-0a5861bf936f",
      "name": "Loop Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "139ee9f4-0b7c-499d-9f2a-c41f42fa3133",
      "name": "Loop Over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Code in Python1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python1": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over URLs": {
      "main": [
        [
          {
            "node": "Loop Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3dae701c-b179-4f20-a1e6-282db4e790de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01fcb9fb97b3ebf0dede6f97c5fc33f2cdd542e39d684f6789db85e728189967"
  },
  "id": "UVBeqx1i488KKu2F",
  "tags": []
}